<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="css/dark_style.css"/>
        <style>

            *{
                font-family: 'Roboto', sans-serif;
            }
            .material-symbols-rounded {
                font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 200,
                'opsz' 48
              }

        </style>
    </head>
    <body class="background">
        <div class="topidentifier">
            <div class="flex_center">
                <div class="level1bg container clickable" style="padding: 10px;margin-right:14px" onclick="window.location='/'">
                    <span class="text regular material-symbols-rounded">house</span>
                </div>
                <span class="text regular" style="font-weight:600">Create Analysis</span>
            </div>
            
        </div> 

        <div class="topcenter">
            <div class="flex_center" id="adding_items">
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('Number')">
                    <span class="text caption">+ Number</span>
                </div>
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('Grid')">
                    <span class="text caption">+ Grid</span>
                </div>
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('FIRST')">
                    <span class="text caption">+ FIRST</span>
                </div>
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('Graph')">
                    <span class="text caption">+ Graph</span>
                </div>
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('Frequency')">
                    <span class="text caption">+ Frequency</span>
                </div>
                <div class="level1bg container clickable" style="padding: 10px;margin:5px" onclick="addItem('Custom')">
                    <span class="text caption">+ Custom</span>
                </div>
            </div>
        </div>

        <div class="topoptions">
            <div class="flex_center">
                
                <div class="bluebg container clickable" style="padding: 10px;margin:5px" onclick="loadAnalysises()">
                    <span class="text caption">Load Analysis Set</span>
                </div>
                <div class="greenbg container clickable" style="padding: 10px;margin:5px" onclick="saveAnalysis()">
                    <span class="text caption">Save Analysis Set</span>
                </div>
            </div>
            
        </div> 
        <div class="centercontent flex_center">
            <div id="items" style="width:100%;text-align:center;margin-top:20px;max-height:80vh;overflow-y:scroll;overflow-x:hidden">
                
            </div>
            
            
        </div>

        <div class="bottommoreinfo">
            <div class="flex_center">
                <input type="text" class="level1bg container input" style="padding: 10px;margin:5px;width:400px" placeholder="Analysis Name" id="analysisName"/>
                <select class="level1bg container input" style="padding: 10px;margin:5px;width:50%" id="analysisSchema" aria-placeholder="Analysis Schema" onchange="changeSchema()">
                    
                </select>
            </div> 
        </div>
        <div class="overlay" id="overlay" style="display: none;">
            <div class="flex_center" style="width: 100%;height:100%">
                <div class="container level1bg" style="width:50%">
                    <div id="overlayContent">
                        
                    </div>
                    <div class="flex_apart" style="margin-top: 20px;">
                        
                        <span class="text caption" style="font-weight:600;opacity:0.5;text-align:left" id="overlayTitle">Document #1</span>
                        <div class="flex_center" style="justify-content:right">
                            <div class="container level2bg clickable" style="padding: 10px;margin-right:10px" id="overlayDone">
                                <span class="text regular material-symbols-rounded">check</span>
                            </div>
                            <div class="container level2bg clickable" style="padding: 10px" id="overlayClose">
                                <span class="text regular material-symbols-rounded">close</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/analysis.js"></script>
        
    </body>
</html>