<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="css/dark_style.css"/>
        <style>

            *{
                font-family: 'Roboto', sans-serif;
            }
            .material-symbols-rounded {
                font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 200,
                'opsz' 48
              }

        </style>
    </head>
    <body class="background">
        <div class="topidentifier">
            <div class="flex_center">
                <div class="level1bg container clickable" style="padding: 10px;margin-right:14px">
                    <span class="text regular material-symbols-rounded">house</span>
                </div>
                <span class="text regular" style="font-weight:600">Data Scouting Form</span>
            </div>
            
        </div> 
        <div class="topoptions">
            <div class="flex_center">
                <div class="level1bg container clickable" style="padding: 10px;margin-right:14px">
                    <span class="text caption">+ Section</span>
                </div>
            </div>
            
        </div> 
        <div class="center flex_center">
            <div class="level1bg container flex_center" style="width:80%">
                <div class="level2bg container flex_apart" style="width: 100%;">
                    <div style="width:20%">
                        <input class="input small" type="text" placeholder="Name"/>
                        <div class="flex_apart" style="width:100%">
                            <span class="text small">Type:</span>
                            <select class="input small">
                                <option value="number">Number</option>
                                <option value="text">Text Input</option>
                                <option value="text">Label</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="toggle">Toggle</option>
                            </select>
                        </div>
                    </div>



                    <div class="flex_apart" style="width:10%;justify-content:right">
                        <div class="container primarybg clickable" style="padding: 10px;margin:5px;width:50px">
                            <span class="text regular material-symbols-rounded">arrow_upward</span>
                        </div>
                        <div class="container primarybg clickable" style="padding: 10px;margin:5px;width:50px">
                            <span class="text regular material-symbols-rounded">arrow_downward</span>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/dataform.js"></script>
    </body>
</html>