<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="css/dark_style.css"/>
        <style>

            *{
                font-family: 'Roboto', sans-serif;
            }
            .material-symbols-rounded {
                font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 200,
                'opsz' 48
              }

        </style>
    </head>
    <body class="background">
        <div class="flex_center" style="margin-top:40px">
            <div style="width:100%">
                <div class="flex_center">
                    <div class="level1bg container clickable" style="padding: 40px;margin:20px;width:1000px">
                        <div class="flex_apart">
                            <span class="text important white" style="font-weight:600" id="ranking">Rank ?</span>
                            <span class="text important white" style="font-weight:600" id="record">0 / 0 / 0</span>
                            <span class="text regular white"  id="rankingPoints">0.0 RP</span>

                        </div>
                        <div class="flex_center" style="margin-top:15px">
                            <div class="container redbg" style="width:30%;padding:5px;margin:5px" id="behind">

                            </div>
                            <div class="container greenbg" style="width:30%;padding:5px;margin:5px" id="ahead">
                                
                            </div>
                        </div>  
                        
                        
                    </div>
                </div>
                <div class="flex_center">
                    <div class="level1bg container clickable" style="padding: 40px;margin:20px;width:1000px">
                        <div class="flex_center">
                            <div>
                                <span class="text header white" style="font-weight:600;margin:2px" id="matchNumber">Loading...</span>
                                <span class="text important white" style="margin:2px" id="matchStart"></span>
                                <i><span class="text regular white" style="margin:2px" id="matchCurrent"></span></i>
                            </div>  
                            <div class="level2bg container" style="margin-left:40px">
                                <div class="flex_center" id="redTeams">
        
                                </div>
                                <div class="flex_center" id="blueTeams">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="flex_center">
                            
                        </div>
                        <div class="flex_center" id="analysisButtons" style="display:none">
                            <div class="redbg container clickable" style="padding:10px;margin:20px" onclick="openAnalysis('Red')">
                                <span class="text caption">Show Red Analysis</span>
                            </div>
                            <div class="bluebg container clickable" style="padding:10px;margin:20px" onclick="openAnalysis('Blue')">
                                <span class="text caption">Show Blue Analysis</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="flex_center" style="flex-wrap:wrap;">
                    <div class="level1bg container clickable widget" style="padding: 40px;margin:20px;width:400px" data-link="/">
                        <span class="text hugeicon material-symbols-rounded" style="margin:10px 0px">house</span>
                        <span class="text important white" style="font-weight:600">Main Page</span>
                    </div>
                    <div class="level1bg container clickable widget" style="padding: 40px;margin:20px;width:400px" data-link="/analysis?automatic=yes&teamNumber=[TEAM]&analysis=LansingA">
                        <span class="text hugeicon material-symbols-rounded" style="margin:10px 0px">monitoring</span>
                        <span class="text important white" style="font-weight:600">Our Next Match</span>
                    </div>
                    <div class="level1bg container clickable widget" style="padding: 40px;margin:20px;width:400px" data-link="/report?teamNumber=[TEAM]&fan=yes">
                        <span class="text hugeicon material-symbols-rounded" style="margin:10px 0px">flag</span>
                        <span class="text important white" style="font-weight:600">All Our Matches</span>
                    </div>
                </div>
                
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/landing.js"></script>
        <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            window.OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                appId: "e5b08ab2-484c-4e7f-ad43-3635832e137e",
                safari_web_id: "web.com.robosmrt.stormcloud",
                notifyButton: {
                    enable: true,
                },
                });
            });
        </script> -->
    </body>
</html>